 
.bg-color{
  background-color: #5663db;
  color: #faf5f5;
}
.logo-text{
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  font-weight: bold;
}


.btn-color{
  background-color: #2e8ee7;
  
  border: 1px solid black;
}
.btn-color a{
  color: #ffffff;
}

.navbar-brand, .nav-link ,a{
  color: #1b1b1b;
}
.nav-link a:hover{
  color: #868484;
}
.navbar-brand a:hover{
  color: #eee9e9;
}

hr{
  border-top: 1px solid rgb(116, 114, 114);
}

.social-link {
    color: #4b4a4a;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .social-link:hover {
    color:#1A2151;
  }
  
  
  .work-section{
    
  border-right: 1px solid rgb(184, 184, 184);
  
  }
  .work-section,
.education-section {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.work-section h3,
.education-section h3 {
  color:#1A2151;
}

.work-section ul,
.education-section ul {
  list-style-type: disc;
  padding: 0;
}

.work-section li,
.education-section li {
  margin-bottom: 20px;
}

.work-section h4,
.education-section h4 {
  color: #1A2151;
  margin-bottom: 10px;
}

.work-section p,
.education-section p {
  color: #1A2151;
}

.skills-section{
  border-right: 1px solid rgb(184, 184, 184);
}

.skills-section, .skills-section1 {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.skills-section h3 , .skills-section1 h3 {
  color: #1A2151;
  margin-bottom: 30px;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 6px 12px;
  background: linear-gradient(108.12deg, rgba(103, 163, 253, 0.69) -0.64%, #f06cae 100.02%);
  color: #272626;
  border-radius: 20px;
}

/* Animation */
.skills-list li {
  animation-name: skillsAnimation;
  animation-duration: 10s;
  animation-fill-mode: both;
}

@keyframes skillsAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
